
  <footer class="container">

  <div class="row mt20">

  <div class="col-md-4 text-center">All rights reserved by <a target="_blank" href="http://okfn.org">Open Knowledge</a></div>
  <div class="col-md-4 text-center">
     <a target="_blank" href="{{site.facebook}}"><li class="social facebook"><img src="{{site.baseurl}}/images/facebook.svg" alt="{{site.facebook}}"></li></a>
      <a target="_blank" href="{{site.twitter}}"><li class="social twitter"><img src="{{site.baseurl}}/images/twitter.svg" alt="{{site.twitter}}"></li></a>
  </div>

  </div>

</footer>
